In [6]:
cities = ['Vilnius', 'Kaunas', 'Siauliai', 'Marijampole', 'Panevezys', 'Panevezys']

# FOR CIKLAS

In [9]:
for city in cities:
    print(f'Sveikiname {city} su kazkokia svente') #butinai keturi tarpeliai
    print('pradedam sekancia ciklo iteracija')
print('po ciklo')

Sveikiname Vilnius su kazkokia svente
pradedam sekancia ciklo iteracija
Sveikiname Kaunas su kazkokia svente
pradedam sekancia ciklo iteracija
Sveikiname Siauliai su kazkokia svente
pradedam sekancia ciklo iteracija
Sveikiname Marijampole su kazkokia svente
pradedam sekancia ciklo iteracija
Sveikiname Panevezys su kazkokia svente
pradedam sekancia ciklo iteracija
Sveikiname Panevezys su kazkokia svente
pradedam sekancia ciklo iteracija
po ciklo

In [10]:
# Atspausdinkite pirmus 10 imtinai skaičių naudodami for loop
for number in range(1,11):
    print(number)

1
2
3
4
5
6
7
8
9
10

In [72]:
# Gaukite sumą pirmų 50 skaičių imtinai
suma = 0
for number in range(1,51):
    suma += number
print(suma)

1275

In [16]:
# Leiskite pasirinkti skaičių, atspausdinkite jo sandaugą nuo 1 iki 10 imtinai
input_number = int(input('Iveskite skaiciu'))
print(input_number)

for number in range(1, 11):
    print(f'{input_number} * {number} = {input_number * number}')

5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [73]:
# dienos = ('Pirmadienis', 'Antradienis', 'Treciadienis','Ketvirtadienis', 'Penktadienis', 'Sestadienis' , 'Sekmadienis')
# valandos = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
# Gaukite visas įmanomas kombinacijas iš šių sąrašų, įrašykite jas į list’ą

dienos = ('Pirmadienis', 'Antradienis', 'Treciadienis', 'Ketvirtadienis', 'Penktadienis', 'Sestadienis' , 'Sekmadienis')
valandos = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

kombinacijos = []

for diena in dienos:
    for valanda in valandos:
        kombinacijos.append((diena, valanda))
        #print(diena, valanda)
print(kombinacijos)

[('Pirmadienis', 10), ('Pirmadienis', 11), ('Pirmadienis', 12), ('Pirmadienis', 13), ('Pirmadienis', 14), ('Pirmadienis', 15), ('Pirmadienis', 16), ('Pirmadienis', 17), ('Pirmadienis', 18), ('Pirmadienis', 19), ('Antradienis', 10), ('Antradienis', 11), ('Antradienis', 12), ('Antradienis', 13), ('Antradienis', 14), ('Antradienis', 15), ('Antradienis', 16), ('Antradienis', 17), ('Antradienis', 18), ('Antradienis', 19), ('Treciadienis', 10), ('Treciadienis', 11), ('Treciadienis', 12), ('Treciadienis', 13), ('Treciadienis', 14), ('Treciadienis', 15), ('Treciadienis', 16), ('Treciadienis', 17), ('Treciadienis', 18), ('Treciadienis', 19), ('Ketvirtadienis', 10), ('Ketvirtadienis', 11), ('Ketvirtadienis', 12), ('Ketvirtadienis', 13), ('Ketvirtadienis', 14), ('Ketvirtadienis', 15), ('Ketvirtadienis', 16), ('Ketvirtadienis', 17), ('Ketvirtadienis', 18), ('Ketvirtadienis', 19), ('Penktadienis', 10), ('Penktadienis', 11), ('Penktadienis', 12), ('Penktadienis', 13), ('Penktadienis', 14), ('Penktadienis', 15), ('Penktadienis', 16), ('Penktadienis', 17), ('Penktadienis', 18), ('Penktadienis', 19), ('Sestadienis', 10), ('Sestadienis', 11), ('Sestadienis', 12), ('Sestadienis', 13), ('Sestadienis', 14), ('Sestadienis', 15), ('Sestadienis', 16), ('Sestadienis', 17), ('Sestadienis', 18), ('Sestadienis', 19), ('Sekmadienis', 10), ('Sekmadienis', 11), ('Sekmadienis', 12), ('Sekmadienis', 13), ('Sekmadienis', 14), ('Sekmadienis', 15), ('Sekmadienis', 16), ('Sekmadienis', 17), ('Sekmadienis', 18), ('Sekmadienis', 19)]

# IF DEKLARACIJA

In [74]:
# viena if salyga
x = 5

if x > 2:
    print('x yra daugiau uz du')

print('po if salygos')

x yra daugiau uz du
po if salygos

In [25]:
# atlieka tik viena is salygu
x = 0
if x > 2:
    print('x yra daugiau uz du')
else:
    print('x nera daugiau uz du')

x nera daugiau uz du

In [28]:
# elif galime tureti kiek norim, bet pasileis tik viena
x = 0
y = 38

if x> 10:
    print('if salyga atitinka')
elif x > 0 and y > 10:
    print('atitinka elif salyga')
elif x > -5 and y > 30:
    print('atitinka antra elif salyga')
else:
    print('else salyga')

print('po if salygos')

atitinka antra elif salyga
po if salygos

In [29]:
# Atspausdinkite pirmus 20 skaičių, jeigu jis dalinasi iš 3 be liekanos naudodami for loop ir if
for number in range(1, 21):
    if number % 3 == 0:
        print(number)

3
6
9
12
15
18

In [75]:
# Gaukite sumą pirmų 50 skaičių imtinai, tik tada, jei nauja einama suma bus lyginė
suma = 0
for number in range(1, 51):
    if (suma + number) % 2 == 0:
        suma += number
print(suma)

650

In [80]:
# Leiskite pasirinkti skaičių, atspausdinkite jo sandaugą nuo 1 iki 10 tik tada, jei pasirinktas skaičius pakeltas kvadratu yra nelyginis
input_number = int(input('Iveskite skaiciu'))
print(input_number)

if (input_number ** 2) % 2 != 0:
    for number in range(1, 11):
        print(f'{input_number} * {number} = {input_number * number}')
else:
    print('skaicius pakeltas kvadratu yra lyginis')

3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [81]:
# Gaukite visas įmanomas kombinacijas iš šių sąrašų tik tada, jei diena yra arba pirmadienis arba trečiadienis, o valandos yra nuo 12 iki 17, įrašykite jas į list’ą
dienos = ('Pirmadienis', 'Antradienis', 'Treciadienis', 'Ketvirtadienis', 'Penktadienis', 'Sestadienis' , 'Sekmadienis')
valandos = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

darbo_dienos = ['Pirmadienis','Treciadienis']
darbo_valandos = list(range(12, 18))
kombinacijos = []

for diena in dienos:
    if diena in darbo_dienos: #jeigu po : turi apatine eilute pajudeti 4 tarpus
        for valanda in valandos:
            if valanda in darbo_valandos:
                kombinacijos.append((diena, valanda))
print(kombinacijos)

[('Pirmadienis', 12), ('Pirmadienis', 13), ('Pirmadienis', 14), ('Pirmadienis', 15), ('Pirmadienis', 16), ('Pirmadienis', 17), ('Treciadienis', 12), ('Treciadienis', 13), ('Treciadienis', 14), ('Treciadienis', 15), ('Treciadienis', 16), ('Treciadienis', 17)]

NONE

In [46]:
niekas = None
print(niekas)
print(type(niekas))

None
<class 'NoneType'>

In [48]:
name = ''
name = input('Irasykite varda')

if name:
    #pasirasyti none pvz dar is screenshot

vardas

# LIST COMPREHENSION

In [ ]:
# pasirasyti nuo paskaitos

DICTIONARY

In [ ]:
my_dictionary = {
    'name' : 'Gertruda '

}

In [49]:
my_dictionary = {
    'name': 'Gertruda',
    'surname': 'Kondrate',
    'age': 32,
    'hobbies': ['horses', 'games']
}

In [51]:
print(my_dictionary)
print(type(my_dictionary))

{'name': 'Gertruda', 'surname': 'Kondrate', 'age': 32, 'hobbies': ['horses', 'games']}
<class 'dict'>

In [53]:
print(my_dictionary['name'])
print(my_dictionary['hobbies'])

Gertruda
['horses', 'games']

In [54]:
my_dictionary['age'] = 25
print(my_dictionary)

{'name': 'Gertruda', 'surname': 'Kondrate', 'age': 25, 'hobbies': ['horses', 'games']}

In [55]:
my_dictionary['city'] = 'Vilnius'
print(my_dictionary)
print(len(my_dictionary))

{'name': 'Gertruda', 'surname': 'Kondrate', 'age': 25, 'hobbies': ['horses', 'games'], 'city': 'Vilnius'}
5

In [ ]:
# my_dictionary is mutable

my_dictionary.copy()

In [58]:
print(my_dictionary.get('city')) #naudojam get kuomet zinom, jog galimai duomenu gali ir nebuti
print(my_dictionary.get('car', 'no car')) #no car - parasome, kad nebutu none

Vilnius
no car

In [61]:
my_dictionary[10] = 'desimt'
print(my_dictionary)
print(my_dictionary.pop(10))
print(my_dictionary)

{'name': 'Gertruda', 'surname': 'Kondrate', 'age': 25, 'hobbies': ['horses', 'games'], 'city': 'Vilnius', 10: 'desimt'}
desimt
{'name': 'Gertruda', 'surname': 'Kondrate', 'age': 25, 'hobbies': ['horses', 'games'], 'city': 'Vilnius'}

In [63]:
my_dictionary[None] = 'niekas'
print(my_dictionary)
key, value = my_dictionary.popitem() #sunaikina viena pora ir ja grazina
print(my_dictionary)
print(key, value)

{'name': 'Gertruda', 'surname': 'Kondrate', 'age': 25, 'hobbies': ['horses', 'games'], None: 'niekas'}
{'name': 'Gertruda', 'surname': 'Kondrate', 'age': 25, 'hobbies': ['horses', 'games']}
None niekas

In [64]:
new_dictionary = {
    'name': 'Gertruda',
    'age': 33,
    'hobbies': ['swimming', 'games']
}

my_dictionary.update(new_dictionary)

In [65]:
print(my_dictionary)

{'name': 'Gertruda', 'surname': 'Kondrate', 'age': 33, 'hobbies': ['swimming', 'games']}

In [ ]:
my_dictionary.

In [71]:
# uzduotys
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print

# SET DEKLARACIJA

In [82]:
# set'e gali buti tik unikalios reiksmes ir duomenys. Naudojame kuomet kartojasi reiksmes ir mums reikia isvesti unikalias reiksmes. Neturi INDEXU

my_set = {1, 2, 3, 4, 5, 5, 5, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [84]:
my_set.add(10)
my_set.add(-5)
print(my_set)

{1, 2, 3, 4, 5, 10, -5}

In [ ]:
# set is mutable variable
my_set.copy()

In [85]:
my_set.add(100)
print(my_set)
my_set.pop() #pasalina viena nari
print(my_set)

{1, 2, 3, 4, 5, 100, 10, -5}
{2, 3, 4, 5, 100, 10, -5}

In [87]:
my_set.add(100) 
print(my_set)
my_set.remove(100) #istrina nurodyta nari. Galima naudoti tik karta, kitaip mes error
print(my_set)

{2, 3, 4, 5, 100, 10, -5}
{2, 3, 4, 5, 10, -5}

In [91]:
print(my_set)
my_set.discard(100) # istrina nurodyti nari. Galima naudoti daugiau kartu
my_set.discard(-5)
my_set.discard(-5)
print(my_set)

{2, 3, 4, 5, 10, -5}
{2, 3, 4, 5, 10}

In [92]:
my_set.update([15, 30, 41, 65]) # pridedame atsitiktinai
print(my_set)

{65, 2, 3, 4, 5, 41, 10, 15, 30}

In [94]:
print('9 in my set:', 9 in my_set)
print('30 in my set:', 30 in my_set)

9 in my set: False
30 in my set: True

In [103]:
my_set_1 = {1,2,5,6,8}
my_set_2 = {4,5,6,7,10,11}

print(my_set_1.difference(my_set_2)) #kuo skiriasi du set'ai 
print(my_set_1.intersection(my_set_2))
print(my_set_1.union(my_set_2)) #apjungia i viena bendra set'a
print(my_set_1.issubset(my_set_2)) #ar pirmo set'o visi nariai yra set'e su kuriuo lyginame
print(my_set_2.issuperset(my_set_1)) #atvirksciai lygina

{8, 1, 2}
{5, 6}
{1, 2, 4, 5, 6, 7, 8, 10, 11}
False
False

In [107]:
# uzduotys

fruits = {"apple", "banana", "cherry"}
fruits.add(('nauja_reiksme', 5))

print(fruits)

{'apple', ('nauja_reiksme', 5), 'cherry', 'banana'}

In [108]:
# uzduotys
fruits = {"apple", "banana", "cherry"}
fruits.remove("apple")
fruits.add("watermelon")
print(fruits)

{'cherry', 'watermelon', 'banana'}

In [116]:
# uzduotys
fruits = {"apple", "banana", "cherry"}
fruits.add("watermelon")
fruits.update(['kiwi', 'orange', 'cherry', 'mango', 'lemon'])
print(fruits)
fruits.discard("apple")
print(fruits)
print(len(fruits))

{'banana', 'lemon', 'orange', 'apple', 'cherry', 'mango', 'kiwi', 'watermelon'}
{'banana', 'lemon', 'orange', 'cherry', 'mango', 'kiwi', 'watermelon'}
7