In [4]:
print (type(420)) #naudoti type funkcija patikrinti su kokiais duomenimis dirbame
print (type(420.))
print (type(420.5))

<class 'int'>
<class 'float'>
<class 'float'>

In [10]:
suma = 0
suma = suma + 5
print(suma)
suma = suma + 6
print(suma)
suma += 7 #naudojamas daznai, supaprastinta versija. Veikia su visom matematiniais veiksmais
print(suma)

5
11
18

In [12]:
sandauga = 1
sandauga *= 10
print(sandauga)
sandauga *= 4.5
print(sandauga)

10
45.0

In [16]:
#uzduotys 1
n_1= 23
n_2=4

print(n_1+n_2)
print(n_1-n_2)
print(n_1*n_2)
print('dalybos liekana', n_1%n_2)
print('sveikoji dalis dalybos', n_1//n_2)
print(n_1/n_2)

27
19
92
3
5
5.75

In [17]:
#uzduotys 1
n_1= 23.2
n_2=4.63

print(n_1+n_2)
print(n_1-n_2)
print(n_1*n_2)
print('dalybos liekana', n_1%n_2)
print('sveikoji dalis dalybos', n_1//n_2)
print(n_1/n_2)

27.83
18.57
107.416
dalybos liekana 0.04999999999999982
sveikoji dalis dalybos 5.0
5.010799136069115

In [19]:
loginis_kintamasis = True
print(type(loginis_kintamasis))
print(loginis_kintamasis)

<class 'bool'>
True

In [20]:
print(int(loginis_kintamasis))
print(int(False))

1
0

In [4]:
number = 50
print(10 > 5)
print(10 < 5)
print(10 < 10)
print(10 <= 10)
print(10 <= 10)
print(10 >= 10)
print('50 == number:', 50 == number)
print('100 == number:', 50 == 50)
print(not 5 > 10) # not - duoda priesinga atsakyma
print(not True) 
print(not False)

True
False
False
True
True
True
50 == number: True
100 == number: True
True
False
True

In [7]:
print("Vilnius" in 'Vilnius, Kaunas') # in - ar kazkas egzistuoja didesniam dalyke
print("Klaipeda" in 'Vilnius, Kaunas')
print("s" in 'Vilnius, Kaunas')

True
False
True

In [9]:
print(True == 1)
print(False == 0)

True
True

In [13]:
print(1==1)
print(2>1)
print(not 1>2)
print("a" in "abc")
print(bool(12))
print(not 's' in 'Lova' and 2>1)
print(str(True))

True
True
True
True
True
True
True

In [15]:
float_1 = 2.2
float_2 = 3.3
print(float_1 - float_2)

-1.0999999999999996

# NAMU DARBAI 1

In [29]:
# 1. Atspausdinkite savo vardą ir pavardę viena print() funkcija. Panaudokite du kintamuosius, panaudokite viengubas ir dvigubas kabutes.
name = 'Gertruda'
surname = "Kondrate"
print(name, surname)
print(f'Mano vardas yra {name}, o pavarde {surname}')

Gertruda Kondrate
Mano vardas yra Gertruda, o pavarde Kondrate

In [30]:
# 2. Iš stringo 'Python makes me really really happy!' 
# Į ekraną išveskite string’ą tik didžiosiomis raidėmis
# Pakeiskite žodį Python į PyThOn naudodami replace()
text =  'Python makes me really really happy!'
print(text.upper())

print(text.replace('Python', 'PyThOn'))

PYTHON MAKES ME REALLY REALLY HAPPY!
PyThOn makes me really really happy!

In [28]:
#3. Iš stringo ‘Hello World, I am happy to learn Python!’
#Atspausdinkite ‘happy’ naudodami slice sintaksę. Naudokite  .index(‘happy’), len(‘happy’) tam 
#Atspausdinkite ‘to’ naudodami slice sintaksę
#Koks šio string ilgis?

text = 'Hello World, I am happy to learn Python!'
print(text.index('happy'))
print(text[text.index('happy') : text.index('happy') + len('happy')])

print(text[text.index('to') : text.index('to') + len('to')])

print(len(text))

18
happy
to
40

# NAMU DARBAI 2

In [33]:
#1. Jeigu norėtume nuvažiuoti iki mėnulio (384000 km) automobiliu, kurio greitis 150km/h, kiek  valandų. N.d:metų, mėnesių, dienų, sekundžių tai užtruktų?

dist_moon = 384000

car_speed_h = 150
car_speed_y = car_speed_h * 24 * 365
car_speed_m = car_speed_h * 24 * 30
car_speed_d = car_speed_h * 24 
car_speed_s = car_speed_h / 60 / 60 

print(car_speed_h, 'km/hours')
print(car_speed_y, 'km/years')
print(car_speed_m, 'km/months')
print(car_speed_d, 'km/days')
print(car_speed_s, 'km/seconds')

print('metu:', dist_moon/car_speed_y)
print('menesiu:', dist_moon/car_speed_m)
print('dienu:', dist_moon/car_speed_d)
print('sekundziu:', dist_moon/car_speed_s)

150 km/hours
1314000 km/years
108000 km/months
3600 km/days
0.041666666666666664 km/seconds
metu: 0.2922374429223744
menesiu: 3.5555555555555554
dienu: 106.66666666666667
sekundziu: 9216000.0

In [42]:
#2. Kiek dienų praėjo nuo jūsų gimimo dienos?
import datetime
from datetime import date #galima kelti jeigu norim kazko tiksliau

birthday = date(1989, 7, 25)
today = date.today()
print(birthday)
print(today)
print(f'Dienu skaicius nuo gimtadienio:{today - birthday}')

1989-07-25
2022-02-22
Dienu skaicius nuo gimtadienio:11900 days, 0:00:00

In [50]:
#3.Sudėti du tuple, išimti paskutinį narį iš sudėto tuple, išrikiuoti tuple, suskaičiuoti kiek yra kokios nors reikšmės įvesčių tuple, rasti didžiausią reikšmę.
my_tuple = (1,5846,3,74) + (4,68,4,8,7,4)
print(my_tuple)
my_tuple = my_tuple[:-1] #kaip vienas is variantu 
print(my_tuple)

my_tuple = tuple(sorted(my_tuple)) # sorted pakeicia duomenu tipa. reikia perkeisti atgal
print(my_tuple)
print(my_tuple.count(4)) # kiek kartojasi
print(max(my_tuple)) # rodo didziausia rezultata

(1, 5846, 3, 74, 4, 68, 4, 8, 7, 4)
(1, 5846, 3, 74, 4, 68, 4, 8, 7)
(1, 3, 4, 4, 7, 8, 68, 74, 5846)
2
5846