In [4]:
# SUPRASTI SU KOKIU SKAICIAUS TIPU DIRBAME
print (type(420)) #naudoti type funkcija patikrinti su kokiais duomenimis dirbame
print (type(420.))
print (type(420.5))

<class 'int'>
<class 'float'>
<class 'float'>

In [10]:
suma = 0
suma = suma + 5
print(suma)
suma = suma + 6
print(suma)
suma += 7 # sutrumpinta versija. Naudojamas daznai, supaprastinta versija. Veikia su visom matematiniais veiksmais
print(suma)

5
11
18

In [12]:
sandauga = 1
sandauga *= 10
print(sandauga)
sandauga *= 4.5 # vel sutrumpinta daugyba. Gali buti bet koks matem veiksmas
print(sandauga)

10
45.0

In [16]:
#Apskaičiuokite dviejų int sumą, skirtumą, sandaugą, liekaną, padalinkite vieną skaičių iš kito
n_1= 23
n_2=4

print(n_1+n_2)
print(n_1-n_2)
print(n_1*n_2)
print('dalybos liekana', n_1%n_2)
print('sveikoji dalis dalybos', n_1//n_2)
print(n_1/n_2)

27
19
92
3
5
5.75

In [1]:
#Apskaičiuokite dviejų float sumą, skirtumą, sandaugą, liekaną, padalinkite vieną skaičiu iš kito
n_1= 23.2
n_2=4.63

print(n_1+n_2)
print(n_1-n_2)
print(n_1*n_2)
print('dalybos liekana', n_1%n_2)
print('sveikoji dalis dalybos', n_1//n_2)
print(n_1/n_2)

27.83
18.57
107.416
dalybos liekana 0.04999999999999982
sveikoji dalis dalybos 5.0
5.010799136069115

In [2]:
#Atstumas iki Mėnulio yra apie 384,000 km, o iki Saulės 150,000,000, kiek kartų atstumas iki Saulės yra didesnis nei iki Mėnulio?
dist_moon = 384000
dist_sun = 150000000
print(f'Atstumas iki saules yra {dist_sun/dist_moon} kartu didesnis iki menulio')

Atstumas iki saules yra 390.625 kartu didesnis iki menulio

In [3]:
#Jeigu norėtume nuvažiuoti iki mėnulio automobiliu, kurio greitis 150km/h, kiek  valandų. N.d:metų, mėnesių, dienų, sekundžių tai užtruktų?
car_speed = 150 #km/h
print('valandu:', dist_moon/car_speed)

valandu: 2560.0

# BOOLEAN DEKLARACIJA

In [19]:
loginis_kintamasis = True
print(type(loginis_kintamasis))
print(loginis_kintamasis)

<class 'bool'>
True

In [20]:
print(int(loginis_kintamasis))
print(int(False))

1
0

In [4]:
number = 50
print(10 > 5)
print(10 < 5)
print(10 < 10)
print(10 <= 10)
print(10 <= 10)
print(10 >= 10)
print('50 == number:', 50 == number)
print('100 == number:', 50 == 50)
print(not 5 > 10) # not - duoda priesinga atsakyma
print(not True) 
print(not False)

True
False
False
True
True
True
50 == number: True
100 == number: True
True
False
True

In [7]:
print("Vilnius" in 'Vilnius, Kaunas') # in - ar kazkas egzistuoja didesniam dalyke
print("Klaipeda" in 'Vilnius, Kaunas')
print("s" in 'Vilnius, Kaunas')

True
False
True

In [9]:
print(True == 1)
print(False == 0)

True
True

In [13]:
#Deklaruokite True reikšmę 5 skirtingais būdais
print(1==1)
print(2>1)
print(not 1>2)
print("a" in "abc")
print(bool(12))
print(not 's' in 'Lova' and 2>1)
print(str(True)) #str - string

True
True
True
True
True
True
True

In [8]:
#Deklaruokite False reikšmę 5 skirtingais būdais
print(0==1)
print(2>10)
print(not 10>2)
print("d" in "abc")
print(bool(0))
print('s' in 'Lova' and 2>1)

False
False
False
False
False
False

In [15]:
float_1 = 2.2
float_2 = 3.3
print(float_1 - float_2)

-1.0999999999999996

# NAMU DARBAI 1

In [29]:
# 1. Atspausdinkite savo vardą ir pavardę viena print() funkcija. Panaudokite du kintamuosius, panaudokite viengubas ir dvigubas kabutes.
name = 'Gertruda'
surname = "Kondrate"
print(name, surname)
print(f'Mano vardas yra {name}, o pavarde {surname}')

Gertruda Kondrate
Mano vardas yra Gertruda, o pavarde Kondrate

In [30]:
# 2. Iš stringo 'Python makes me really really happy!' 
# Į ekraną išveskite string’ą tik didžiosiomis raidėmis
# Pakeiskite žodį Python į PyThOn naudodami replace()
text =  'Python makes me really really happy!'
print(text.upper())

print(text.replace('Python', 'PyThOn'))

PYTHON MAKES ME REALLY REALLY HAPPY!
PyThOn makes me really really happy!

In [28]:
#3. Iš stringo ‘Hello World, I am happy to learn Python!’
#Atspausdinkite ‘happy’ naudodami slice sintaksę. Naudokite  .index(‘happy’), len(‘happy’) tam 
#Atspausdinkite ‘to’ naudodami slice sintaksę
#Koks šio string ilgis?

text = 'Hello World, I am happy to learn Python!'
print(text.index('happy'))
print(text[text.index('happy') : text.index('happy') + len('happy')])

print(text[text.index('to') : text.index('to') + len('to')])

print(len(text))

18
happy
to
40

# LIST DEKLARACIJA

In [12]:
cities = ['Vilnius', 'Kaunas', 'Klaipeda']
print(type(cities))
print(type([])) # galima rasyti ir kita
print(cities[0])
print(cities[-1]) # skaiciuoja nuo galo
# SLICING
print(cities[1:])

<class 'list'>
<class 'list'>
Vilnius
Klaipeda
['Kaunas', 'Klaipeda']

In [13]:
cities[-1] = 'Siauliai' # keitimas per indeksus
print(cities)

['Vilnius', 'Kaunas', 'Siauliai']

In [24]:
cities.append('Panevezys') #prideda tik prie galo. Antra karta paleidus - prides dar karta 
print(cities)
cities.pop() #galime nurodyti indeksas, o jeigu tuscia, pasalins paskutine reiksme
print(cities)

['Vilnius', 'Kaunas', 'Siauliai', 'Panevezys']
['Vilnius', 'Kaunas', 'Siauliai']

In [25]:
cities.remove('Kaunas') 
print(cities)

['Vilnius', 'Siauliai']

In [28]:
# APPEND PRIDEDA VISA LIST'A BENDRAI,o EXTEND PRIDEDA PO VIENA NARI IS DUOTO LISTO
new_cities = ['New York', 'London'] # jeigu norime prideti sarasa. SARASE GALI EGZISTUOTI IR KITI SARASAI
print(cities)
cities.extend(new_cities)
print('po extend')
print(cities)
cities.pop()
cities.pop()

['Vilnius', 'Siauliai', 'New YOrk', 'New York']
po extend
['Vilnius', 'Siauliai', 'New YOrk', 'New York', 'New York', 'London']

'New York'

In [29]:
cities.clear() 
print(cities)

[]

In [31]:
cities = ['Vilnius', 'Kaunas', 'Siauliai', 'Marijampole', 'Panevezys', 'Panevezys']
cities.count('Panevezys') # kiek kartu kartojasi zodis\
cities.count('Vilnius')

1

In [33]:
cities.index('Panevezys') #grazina PIRMA indekso verte.

4

In [34]:
cities.insert(2, 'Klaipeda') #iterpti reiksme i list'a
print(cities)

['Vilnius', 'Kaunas', 'Klaipeda', 'Siauliai', 'Marijampole', 'Panevezys', 'Panevezys']

In [35]:
cities.reverse() #apsuka sarasa i priesinga puse. ATIDZIAI - NES TOKS SARASAS IR PALIEKA
print(cities)

['Panevezys', 'Panevezys', 'Marijampole', 'Siauliai', 'Klaipeda', 'Kaunas', 'Vilnius']

In [38]:
print(cities[::-1]) # SU SLICING - IRGI APSUKA SARASA. TIK VIENA KARTA
print(cities)

['Vilnius', 'Kaunas', 'Klaipeda', 'Siauliai', 'Marijampole', 'Panevezys', 'Panevezys']
['Panevezys', 'Panevezys', 'Marijampole', 'Siauliai', 'Klaipeda', 'Kaunas', 'Vilnius']

In [41]:
numbers = [443443, 343, 556, 0, 1, 55675, 111]
numbers.sort() # sudelioja didejimo tvarka
print(numbers)
numbers.sort(reverse=True) # sudelioja mazejimo tvarka
print(numbers)

[0, 1, 111, 343, 556, 55675, 443443]
[443443, 55675, 556, 343, 111, 1, 0]

In [45]:
print(bool([])) # keiciame tuscia sarasa i logine verte
print(bool([5]))
print(bool([0]))
print(bool([False, 0, ''])) # jeigu yra BET KOKIA VERTE sarase, atsakymas bus TRUE

False
True
True
True

In [46]:
print('Vilnius' in cities) # galime tikrinti ar yra kazkas sarase

True

In [47]:
# MATEMATINIAI VEIKSMAI
my_list = [1, 3, 58] + ['A', False] # SUDETIS. Galima sudeti sarasus. ATIMTI NEGALIMA
print(my_list)

[1, 3, 58, 'A', False]

In [48]:
my_list = ['first', 3, 58] * 50 # GALIMA DAUGINTI. PAKARTOJO 50 KARTU
print(my_list)

['first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58]

# MUTABLE vs. IMMUTABLE variables

In [51]:
# visi kintamieji skirstomi i du tipus
# IMMUTABLE 
#VISI LIKE YRA IMMUTABLE
number_1 = 6
number_2 = number_1 #persigalvojau, kad visgi turi reiksme
print(id(number_1)) 
print(id(number_2))
number_2 = 13
print(number_1, number_2)
print(id(number_1)) # parodo kur saugoma musu kompe info
print(id(number_2)) 
#galutiniai skaiciai atsakymo nesutampa t.y skirtingos vertes

4390011280
4390011280
6 13
4390011280
4390011504

In [54]:
# MUTABLE
# LIST, SET, DICT
numbers_1 = [1, 5, 10]
numbers_2 = numbers_1 # atminty kompo irasom kaip tuos pacius duomenis ir python automatiskai skaitys kaip viena 
print(id(numbers_1)) 
print(id(numbers_2))
numbers_2.append(13)
print(numbers_1) 
print(numbers_2)

4463488832
4463488832
[1, 5, 10, 13]
[1, 5, 10, 13]

In [55]:
numbers_1 = [1, 5, 10]
numbers_2 = numbers_1.copy() #PADAREME ATSKIRA KOPIJA IR DABAR VEIKS
print(id(numbers_1)) 
print(id(numbers_2))
numbers_2.append(13)
print(numbers_1) 
print(numbers_2)

4463455552
4463492288
[1, 5, 10]
[1, 5, 10, 13]

In [57]:
numbers_1 = [1, 5, [10, 20]]
numbers_2 = numbers_1.copy() 
print(id(numbers_1)) 
print(id(numbers_2))
print(id(numbers_1[2])) 
print(id(numbers_2[2]))
numbers_2[2].append(13)
print(numbers_1) 
print(numbers_2)

4463480000
4463485504
4463480512
4463480512
[1, 5, [10, 20, 13]]
[1, 5, [10, 20, 13]]

In [59]:
# BEST FIX TO SOLVE THE ABOVE PROBLEM FOR MUTABLE 
import copy

numbers_1 = [1, 5, [10, 20]]
numbers_2 = copy.deepcopy(numbers_1) 
print(id(numbers_1)) 
print(id(numbers_2))
print(id(numbers_1[2])) 
print(id(numbers_2[2]))
numbers_2[2].append(13)
print(numbers_1) 
print(numbers_2)

4435361856
4463485504
4463480000
4463478208
[1, 5, [10, 20]]
[1, 5, [10, 20, 13]]

In [61]:
# Deklaruoti list tipo duomenį, gauti jo ilgį, pridėti naują elementą (append)
sarasas = ['mama', 'tetis', 'mociute']
print(len(sarasas))
sarasas.append('senelis')
print(sarasas)

3
['mama', 'tetis', 'mociute', 'senelis']

In [62]:
# Patikrinti ar elementas yra jūsų sąraše
sarasas = ['mama', 'tetis', 'mociute']
print('mociute' in sarasas)

True

In [78]:
# Sudėti du list’us, išimti paskutinį narį iš sudėto listo, išrikiuoti list’ą, suskaičiuoti kiek yra kokios nors reikšmės įvesčių list’e
list_1 = [1, 5, 3] + [1, 2, 6]
print(list_1)
list_1.remove(1)
print(list_1)
list_1.pop(0)
print(list_1)
list_1.append(4)
print(list_1)
list_1.sort()
print(list_1)
list_1.count(1)

[1, 5, 3, 1, 2, 6]
[5, 3, 1, 2, 6]
[3, 1, 2, 6]
[3, 1, 2, 6, 4]
[1, 2, 3, 4, 6]

1

# TUPLE

In [79]:
# TURI SEKOS PARAMETRUS KAIP IR LIST(NAUDOJA INDEKSUS) 
# SUKURUS TUPLE DUOMENIS, NELABAI GALIMA SU JAIS MANIPULIUOTI

In [84]:
my_tuple = (1, 2, 3)
print(my_tuple)
print(my_tuple[1])
print(my_tuple[:2]) #SLICING

(1, 2, 3)
2
(1, 2)

In [87]:
print(my_tuple.count(3))
print(my_tuple.index(3))

1
2

In [88]:
my_tuple = my_tuple + (5,10)
print(my_tuple)

(1, 2, 3, 5, 10)

In [90]:
my_tuple_2 = (1, 5, [4, 8]) # VEIKS FUKCIJOS TIK LIST'E, KURIS YRA PACIAME TUPLE
print(my_tuple_2)
my_tuple_2[2].append(100)
print(my_tuple_2)

(1, 5, [4, 8])
(1, 5, [4, 8, 100])

In [92]:
# Gaukite reikšmę 8
my_tuple = (1, 2, ['3', 4, 5], [6, [7, (8)]])
print(my_tuple[3][1][1])

8

In [99]:
# Pakeiskite reikšmę i tuple1 = (11, [222, 22], 44, 55)
tuple1 = (11, [222, 33], 44, 55)
tuple1[1][-1] = 22
print(tuple1)

(11, [222, 22], 44, 55)

# RANGE

In [ ]:
# NAUDOJAMAS KAI NORIME TAM TIKRA VEIKSMA ATLIKTI NORIMA KARTA SKAICIU
# SKAICIU SEKOMS NAUDOJAMAS

In [102]:
my_numbers = range(54, 158, 3)
print(type(my_numbers))
print(list(my_numbers))

<class 'range'>
[54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156]

In [104]:
print(list(range(50, -158, -7)))
print(list(range(20, 80, 2))) # jeigu norime tureti ir 80, reikia perrasyti i 81 (del list'o indeksu kad skaiciuojasi nuo 0)

[50, 43, 36, 29, 22, 15, 8, 1, -6, -13, -20, -27, -34, -41, -48, -55, -62, -69, -76, -83, -90, -97, -104, -111, -118, -125, -132, -139, -146, -153]
[20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78]

# NAMU DARBAI 2

In [33]:
#1. Jeigu norėtume nuvažiuoti iki mėnulio (384000 km) automobiliu, kurio greitis 150km/h, kiek  valandų. N.d:metų, mėnesių, dienų, sekundžių tai užtruktų?

dist_moon = 384000

car_speed_h = 150
car_speed_y = car_speed_h * 24 * 365
car_speed_m = car_speed_h * 24 * 30
car_speed_d = car_speed_h * 24 
car_speed_s = car_speed_h / 60 / 60 

print(car_speed_h, 'km/hours')
print(car_speed_y, 'km/years')
print(car_speed_m, 'km/months')
print(car_speed_d, 'km/days')
print(car_speed_s, 'km/seconds')

print('metu:', dist_moon/car_speed_y)
print('menesiu:', dist_moon/car_speed_m)
print('dienu:', dist_moon/car_speed_d)
print('sekundziu:', dist_moon/car_speed_s)

150 km/hours
1314000 km/years
108000 km/months
3600 km/days
0.041666666666666664 km/seconds
metu: 0.2922374429223744
menesiu: 3.5555555555555554
dienu: 106.66666666666667
sekundziu: 9216000.0

In [42]:
#2. Kiek dienų praėjo nuo jūsų gimimo dienos?
import datetime
from datetime import date #galima kelti jeigu norim kazko tiksliau

birthday = date(1989, 7, 25)
today = date.today()
print(birthday)
print(today)
print(f'Dienu skaicius nuo gimtadienio:{today - birthday}')

1989-07-25
2022-02-22
Dienu skaicius nuo gimtadienio:11900 days, 0:00:00

In [50]:
#3.Sudėti du tuple, išimti paskutinį narį iš sudėto tuple, išrikiuoti tuple, suskaičiuoti kiek yra kokios nors reikšmės įvesčių tuple, rasti didžiausią reikšmę.
my_tuple = (1,5846,3,74) + (4,68,4,8,7,4)
print(my_tuple)
my_tuple = my_tuple[:-1] #kaip vienas is variantu 
print(my_tuple)

my_tuple = tuple(sorted(my_tuple)) # sorted pakeicia duomenu tipa. reikia perkeisti atgal
print(my_tuple)
print(my_tuple.count(4)) # kiek kartojasi
print(max(my_tuple)) # rodo didziausia rezultata

(1, 5846, 3, 74, 4, 68, 4, 8, 7, 4)
(1, 5846, 3, 74, 4, 68, 4, 8, 7)
(1, 3, 4, 4, 7, 8, 68, 74, 5846)
2
5846

In [106]:
obje = ['number', 200, (5, 'text'), {'numbers': [1,2,3], 'letter': 'a'}]
print(len(obje))

4

In [134]:
print(17//3)

5

In [111]:
raides = ['a', 'x', 'b', 'y', 'd']
raides.remove('x')
raides[2] = 'c'
raides.pop()
print(raides)

['a', 'b', 'c']

In [113]:
A = set('banana')
print(len(A))

3

In [114]:
A = {1, 2, 3, 4, 5}
B = {3, 4, 5, 6, 7}
print(A.difference(B))

{1, 2}

In [142]:
s = 0
numbers = '123456'
for n in numbers:
    s += set(numbers)(n)
print(s)

TypeError: 'set' object is not callable

In [125]:
rezultatas = ""
for i in range(2,12):
    if i % 3 == 0:
        rezultatas = rezultatas + str(i)
print(rezultatas)

369

In [126]:
def kord_spauzd():
    for x in range(1,2):
        for y in range(2,3):
            print(f'({x}, {y})')
kord_spauzd()

(1, 2)

In [127]:
x = []
def f():
    x = []
    x.append(1)
    x.append(2)
    x.append(3)
f()
print(x)

[]